.main-wrapper {
	font-family: 'Indie Flower', cursive;
	color: #e5e5e5;
	font-size: 300%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	background-color: #191919;
}

p:nth-child(2) {
	color: #66c8ee;
}

p:last-child {
	color:   #c1061f;
}
